@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font: normal 20px Arial;
}

body {
    background-color: #2a417e;
}

header > h1 {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 2em;
}

section {
    display: block;
    margin: auto;
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.363);
    padding: 10px;
}

div#tabuada {
    margin-top: 25px;
}

.btn {
    font-size: 0.90em;
}

footer {
    color: white;
    text-align: center;
    margin-top: 30px;
    font-style: italic;
}

